$color-white: rgb(255, 255, 255);
$color-brand: rgb(92, 144, 204);
$color-black: rgb(30, 30, 30);
$color-error: rgb(196, 67, 37);
$color-body: rgb(110, 120, 130);
$color-body-dark: rgb(63, 70, 77);
$color-body: rgb(52, 58, 64);
$color-grey: rgb(241, 243, 245);