<header class="header">
    <h1 class="logo">
        <a href="{{ .Site.BaseURL | relURL }}" title="← Back to the homepage">
            <picture>
                <img src="/img/yoozie-logo-default.svg" loading="eager" decoding="async" alt="Yoozie">
            </picture>
        </a>
    </h1>
    <nav class="main-nav">
        <ul class="nav-list">
            <li class="nav-item nav-item-1">
                <a title="New South Wales" href="#" class="nav-item-link">NSW</a>
            </li>
            <li class="nav-item nav-item-2">
                <a title="Queensland" href="#" class="nav-item-link">QLD</a>
            </li>
            <li class="nav-item nav-item-3">
                <a title="North Territory" href="#" class="nav-item-link">NT</a>
            </li>
            <li class="nav-item nav-item-4">
                <a href="#" title="South Australia" class="nav-item-link">SA</a>
            </li>
            <li class="nav-item nav-item-5">
                <a href="#" title="Western Australia" class="nav-item-link">WA</a>
            </li>
            <li class="nav-item nav-item-6">
                <a href="#" title="Victoria" class="nav-item-link">VIC</a>
            </li>
            <li class="nav-item nav-item-7">
                <a href="#" title="Australian Capital Territory" class="nav-item-link">ACT</a>
            </li>
            <li class="nav-item nav-item-8">
                <a href="#" title="Tasmania" class="nav-item-link">TAS</a>
            </li>
        </ul>
    </nav>
    <button class="btn btn--md btn--primary">Login</button>
</header>